@model AlquilerGSS.Models.Alquiler

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alquiler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idcarro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idcarro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abonoinicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abonoinicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devuelto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devuelto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idalquiler" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
